{% extends "layout.html" %}

{% block title %}{{ announcement.title }}{% endblock %}

{% block content %}
<h1>{{ announcement.title }}</h1>

{% if session.user_id == announcement.user_id %}
<p>
  <a class="link" href="/announcement/{{ announcement.id }}/edit">Edit</a> &nbsp;
  <a class="link" href="/announcement/{{ announcement.id }}/remove">Remove</a>
</p>
{% endif %}

<p>
  <b>Description:</b> <br />
  {{ announcement.about | show_lines}}
<p>

<p>
  <b>Author</b>:
  <a class="link" href="/user/{{ announcement.user_id }}">{{ announcement.username }}</a>
</p>

{% for class, value in classes.items() %}
<p>
  {% if lengths[class]==1 %}
  <b>{{ class }}:</b> {{ value[0] }}
  {% else %}
  <b>{{ class }}:</b> 
  <ul>
  {% for entry in value %}
  <li>{{ entry }}</li>
  {% endfor %}
  </ul>
  {% endif %}
</p>
{% endfor %}

{% if announcement.intented_price %}
<p>
  <b>Intended price:</b>
  {{ announcement.intented_price }} €
</p>
{% endif %}

{% if announcement.intented_age_restriction %}
<p>
  <b>Intended age restriction:</b>
  {{ announcement.intented_age_restriction }}
</p>
{%endif%}

{% if announcement.download_link %}
<p>
  <b>Download link:</b>
  <a class="link" href="{{ announcement.download_link }}" target="_blank" rel="noopener noreferrer">{{ announcement.download_link }}</a>
</p>
{% endif %}

<p>
  <b>Post date:</b>
  {{ announcement.created_at }}
</p>

{% if announcement.updated_at %}
<p>
  <b>Last update:</b>
  {{ announcement.updated_at }}
</p>
{% endif %}

<br /><br />
<hr />
<h2>Feedback & Comments</h2>
{% if session.user_id %}
<p>New feedback/comment:</p>
{% for message in get_flashed_messages() %}
<p>
  <b>{{ message }}</b>
</p>
{% endfor %}
<form action="/announcement/{{ announcement.id }}" method="post">
  <p>
    <textarea name="comment" rows="6" cols="60" maxlength="1000"></textarea>
  </p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Add a comment" />
</form>
{% endif %}
<br />
<hr />
{% for comment in comments %}
<p>
  <font size="4">{{ comment.comment | show_lines }}</font><br /><br />
  {{ comment.created_at }}<br />
  {% if comment.updated_at %}
  Edited at: {{ comment.updated_at }}<br />
  {% endif %}
  <a class="link" href="/user/{{ comment.user_id }}">{{ comment.username }}</a>
  <br />
  {% if session.user_id == comment.user_id %}
  <a class="link" href="/announcement/{{ announcement.id }}/comment/{{ comment.id }}/edit">Edit</a> &nbsp;
  <a class="link" href="/announcement/{{ announcement.id }}/comment/{{ comment.id }}/remove">Remove</a>
  {% endif %}
</p>
<hr />
{% endfor %}
{% endblock %}
