{% extends "layout.html" %}

{% block title %}Indiedev{% endblock %}

{% block content %}
<h1>Welcome to Indiedev!</h1>
<p>
  Indiedev is a platform for indie game developers to share their projects and ideas.
</p>
<p>
  <h2>Latest announcements</h2>
  <form action="/search" method="get">
    <p>
      Search from all announcements:
      <input type="text" name="query" />
    </p>
    <input type="submit" value="Search" />
  </form>
  <hr />

  {% for announcement in announcements %}
  <p>
    <a class="link" href="/announcement/{{ announcement.id }}">{{ announcement.title }}</a>
    <br />
    <a class="link" href="/user/{{ announcement.user_id }}">{{ announcement.username }}</a> ({{ announcement.created_at }})
  </p>
  <hr />
  {% endfor %}
</p>
{% endblock %}
