<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <div class="header">
    <h2>Indiedev</h2>
    {% if session.username %}
    <p>
      <b>You are logged in as {{ session.username }}.</b>
    </p>
    {% endif %}
    |<a class="link" href="/">Home</a>&nbsp|&nbsp
    <a class="link" href="/search">Search</a>&nbsp|&nbsp
    {% if session.user_id %}
    <a class="link" href="/new_announcement">Create a new announcement</a>&nbsp|&nbsp
    <a class="link" href="/user/{{ session.user_id }}">Your user page</a>&nbsp|&nbsp
    <a class="link" href="/logout">Log out</a>&nbsp|
    {% else %}
    <a class="link" href="/register">Create an account</a>&nbsp|&nbsp
    <a class="link" href="/login">Login</a>&nbsp|
    {% endif %}
    <hr />
  </div>
  {% block content %}{% endblock %}
</body>

</html>
