<!DOCTYPE html>
<html>

<head>
  <title>Create an account</title>
</head>

<body>
  <header style="background-color: rgb(104, 168, 197)">
    <h2>Indiedev</h2>
    <a href="/">Home</a>&nbsp&nbsp
    <a href="/search">Search</a>&nbsp&nbsp
    {% if session.username %}
    <a href="/new_announcement">Create a new post</a>&nbsp&nbsp
    <a href="/user/{{ session.user_id }}">Your user page</a>&nbsp&nbsp
    <a href="/logout">Log out</a>
    {% else %} 
    <a href="/register">Create an account</a>&nbsp&nbsp
    <a href="/login">Login</a>
    {% endif %}
    <hr />
  </header>

  <h1>Create an account</h1>
  <font size="4">Please fill in the form to create an account.</font><br />
  <font size="2">The username must be at least 3 characters long and the password must be at least 8 characters long.</font>
  {% for message in get_flashed_messages() %}
  <p>
    <b>{{ message }}</b>
  </p>
  {% endfor %}
  <form action="/register" method="post">
    <p>
      Email (optional): <br />
      <input type="text" name="email" />
    </p>

    <p>
      Username: <br />
      <input type="text" name="username" />
    </p>

    <p>
      Password: <br />
      <input type="password" name="password" />
    </p>

    <p>
      Password again: <br />
      <input type="password" name="confirm_password" />
    </p>
    <input type="submit" value="Create an account" />
  </form>
  <p>
    <a href="/">Back to the main page</a>
  </p>
</body>

</html>
