{% extends "layout.html" %}

{% block title %}Remove comment{% endblock %}

{% block content %}
<h1>Remove comment on {{ announcement.title }}</h1>

<form action="/announcement/{{announcement.id}}/comment/{{comment.id}}/remove" method="post">
  <p>
    Are you sure you want to remove comment: "<b>{{ comment.comment | show_lines}}</b>" <br />
    posted on announcement "<b>{{ announcement.title }}</b>"?
    <br />
    <br />
    This action will delete the comment permanently and cannot be undone.
  </p>

  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" name="remove" value="Remove" />
  <input type="submit" value="Cancel" />
</form>
{% endblock %}
