{% extends "layout.html" %}

{% block title %}User {{ user.username }}{% endblock %}

{% block content %}
<h1>User {{ user.username }}</h1>

<p>
  {{ user.username }} joined our platform at: {{ user.created_at }}
</p>

<p>
  {{ user.username }} has created {{ announcements | count }} announcements and {{ comments | count }} comments.
</p>

<h2>Announcements created by {{ user.username }}</h2>
{% for announcement in announcements %}
<li>
  <a class="link" href="/announcement/{{ announcement.id }}">{{ announcement.title }}</a>
</li>
{% endfor %}
<h2>Feedback & Comments created by {{ user.username }}</h2>
<hr />
{% for comment in comments %}
<div class="comment">
  <a class="link" href="/announcement/{{ comment.announcement_id }}">{{ comment.comment | show_lines }}</a>
  <p>
    Posted on: <a class="link" href="/announcement/{{ comment.announcement_id }}">{{ comment.announcement_title }}</a><br />
    Created at: {{ comment.created_at }}
  </p>
</div>
{% endfor %}
{% endblock %}
